<div class="w-full h-full" fxLayout="row wrap">
  <mat-card class="mat-elevation-z4 m-auto" style="max-width: 380px;">
    <mat-card-title class="m-b-24">
      Registrer an account
    </mat-card-title>

    <form class="form-field-full" [formGroup]="registerForm">
      <mat-form-field appearance="outline">
        <mat-label>
          FirstName
        </mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="registerForm.get('firstName').invalid">
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          LastName
        </mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="registerForm.get('lastName').invalid">
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          Email
        </mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="registerForm.get('email').invalid">
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          Password
        </mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="registerForm.get('password').invalid">
         Required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          Confirm password
        </mat-label>
        <input matInput type="password" formControlName="confirmPassword" required>
        <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
          Required
        </mat-error>
        <mat-error *ngIf="registerForm.get('confirmPassword').hasError('confirm')" translate
          [translateParams]="{value: 'login.password'}">
          Wrong password
        </mat-error>
      </mat-form-field>

      <button class="w-full" mat-raised-button color="primary" [disabled]="registerForm.invalid" (click)="register()">
        Submit
      </button>

      <div class="m-t-16">Have an account ?
        <a routerLink="/auth/login">
          Login
        </a></div>
    </form>

  </mat-card>
</div>