<div class="matero-row" fxLayout="row wrap">

  <h1 fxFlex="100" style="margin-left:18px">
    Communication
  </h1>

  <!-- Charts -->
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="60">
    <mat-card>
      <mat-card-subtitle>Traffic</mat-card-subtitle>
      <div id="chart1"></div>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="40">
    <mat-card>
      <mat-card-subtitle>Weekly Revenue</mat-card-subtitle>
      <div id="chart2"></div>
    </mat-card>
  </div>

</div>